[submodule "sources_non_forked/tmuxline.vim"]
	path = sources_non_forked/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "sources_non_forked/vim-tmux-navigator"]
	path = sources_non_forked/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
